
:root{
    --primary-color:#FAF7F0;
    --text-color:#A17D1C;
    --secondary-color:#F5F0DB;
    --text-color-secondary:#211A0A;
    --text-button-color:#AB2117;
    --button-background-color:#FAC738;
}